<h1>Users List</h1>
<%= will_paginate %>
<table class="table">
  <tr>
    <td>id</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Gopay</td>
    <td>Action</td>
  </tr>

  <%= render @users %>

</table>
<%= will_paginate %>
