<% type = request.fullpath.split('/').reject { |e| e.to_s.empty? }.first%>
<% url_form = type == 'driver' ? driver_signup_path : customer_signup_path %>

<% provide(:button_text, 'Create my Go-jek account') %>
<h1>Sign Up</h1>
<p style="text-align: center
">Please Sign up! Thank you..</p>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render 'form' %>
      <p style="text-align: center">Driver's Registration? <%= link_to "Drivers Signup!", driver_signup_path %></p>
      <p style="text-align: center">Have Account? <%= link_to "Sign in!", customer_login_path %></p>
  </div>
</div>
