
<% provide(:button_text, 'Order GORIDE') %>
<% provide(:service_type, "goride") %>
<h1>Order Go Ride</h1>
<p style="text-align: center">Please input the details below..</p>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render 'form' %>
  </div>
</div>
