<% provide(:button_text, 'Update my Go-jek account') %>
<h1>Edit Profile</h1>
<p style="text-align: center
">Please Edit Your Profile</p>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render 'form' %>
  </div>
</div>
